{
    "extends": [
        "eslint:recommended"
    ],
    "env": {
        "amd": true,
        "browser": true,
        "jquery": true,
        "node": true,
        "es6": true,
        "worker": true,
        "commonjs": true,
        "mocha": true,
        "jasmine": true,
        "jest": true,
        "mongo": true
    },
    "parserOptions":{
        "ecmaVersion": 8,
        "sourceType": "module",
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "impliedStrict": true
        }
    },
    "settings": {
        "import/extensions": [".js"],
        "import/resolver": {
            "node": {
                "extensions": [".js"]
            }
        }
    },
    "plugins": [
        "import",
        "async-await",
        "eslint-plugin-prettier",
        "import"
    ],
    "rules": {
        "constructor-super": "warn",
        "curly": "error",
        "indent": [2, "tab", {"SwitchCase": 1}],
        "no-const-assign": "warn",
        "no-this-before-super": "warn",
        "no-undef": "warn",
        "no-unreachable": "warn",
        "no-unused-vars": "warn",
        "no-console": "error",
        "valid-typeof": "warn",
        "quotes": ["error", "single"],
        "keyword-spacing": ["error", { "before": true }],
        "space-before-function-paren": ["error", {"anonymous": "always", "named": "never", "asyncArrow": "always"}],
        "linebreak-style": ["error", "unix"],
        "semi": ["error", "always"],
        "one-var": ["error", "never"],
        "async-await/space-after-async": 1,
        "async-await/space-after-await": 1
    }
}
